<div class="question-container">
  <div class="questions">
    <% @questions.order(:created_at).each do |question| %>
      <div class="card" id="question-content">
        <h3><%= question.name %></h3>
      </div>
    <% end %>
  </div>
</div>
