<div class="new-form-container d-flex justify-content-around">
  <div class="add-question">
    <div class="d-flex justify-content-around">
      <h2>Add a New Question</h2>
    </div>
    <div class="new-question-form">
      <%= simple_form_for(@question) do |f| %>
        <%= f.input :name, class: "form-control" %>
        <%= f.button :submit, class:"submit-button" %>
      <% end %>
    </div>
  </div>
</div>
