<div class="question-show-container">
  <div class="question">
    <h3><%= @question.name %></h3>
  </div>
  <div class="answers">
    <% @answers.each do |answer| %>
      <div class="answer-card">
        <h4><%= answer.answer %></h4>
      </div>
    <% end %>
  </div>
</div>
