<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active d-flex justify-content-end">
          <a class="nav-link" href="/pages/about">About Us</a>
          <a class="nav-link" href="/stories">Stories</a>
          <a class="nav-link" href="/experts">Experts</a>
          <a class="nav-link" href="/questions">Community</a>
        </li>
      </ul>
    </div>
  </div>
</div>
