<div class="about-container">
  <h1>Healing Beyond Cure</h1>
  <br>
  <h3>Let's Talk About Palliative Care.</h3>
  <br>
  <p>At Healing Beyond Cure, we hope to create a platform to generate discourse and break stigma surrounding the field; holding perspectives from all areas of the field, attempting to give voice to patients, loved ones, caregivers and healthcare professionals.</p>
</div>
