<div class="container">
  <div class="cards">
    <% @stories.each do |story| %>
      <div class="story-photo-card">
        <% if story.photo.attached? %>
          <%= cl_image_tag story.photo.key, height: 280, width: 280, crop: :fill %>
        <% end %>
        <div class="story-card">
          <h3><%= story.title.upcase %></h3>
          <p><%= story.description %></p>
        </div>
      </div>
    <% end %>
  </div>
</div>
