<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="story-info">
        <h3><%= @story.title %></h3>
        <p><%= @story.content %></p>
      </div>
    </div>
  </div>
</div>
