.cards {
  flex-grow: 1;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 14px;
}
.story-card {
  overflow: hidden;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 4px;
  height: 100%;
  padding: 15px;
}
.story-card p {
  font-size: 13px;
}
.story-card h3 {
  font-size: 16px;
  font-weight: bold;
}
.story-photo-card {
  width: 100%;
  object-fit: cover;
}
.card-text:hover {
  text-decoration: none;
}
.story-card .story-card-info {
  padding: 16px;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

