.form-control {
  border-radius: 4px;
}

.new-question-form {
  padding-bottom: 40px;
  font-family: 'Montserrat', sans-serif;
}

.new-story-form {
  padding-bottom: 40px;
  font-family: 'Montserrat', sans-serif;
}

// .notes-form {
//   padding: 32px;
//   border-radius: 16px;
// }

// .application-form {
//   padding: 32px;
//   border-radius: 16px;
// }

